@font-face
{
    font-family: Montserrat;
    src: url(../assets/fonts/Montserrat.ttf);
}

body
{
    font-family: Montserrat, sans-serif;
    margin: 0;
}

#navbar
{
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.6);
}

#navbar a
{
    float: left;
    color: white;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    border-bottom: 3px solid transparent;
}

#navbar a:hover
{
    border-bottom: 3px solid #3ba3a1;
}

#screen-space
{
    min-height: 100px;
}

.background
{
    position: fixed;
    z-index: -1;
}

.main
{
    background-color: white;
    width: auto;
    padding: 15px 30px 15px 30px;
}

.sticky
{
    position: fixed;
    top: 0;
    width: 100%;
}

.resize
{
    width: 100%;
    height: auto;
}
